.landing-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1{
      text-align: center;
    } 
    h1:hover{
      font-size:xxx-large;
      color:chocolate;
    }
  }
  
  
  .landing-links {
    width: 100%;
    text-align: center;
    a:hover{
      font-size: x-large;
      color:chocolate;
    }
  }
  